<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984773289125-3icc35hcn884s14gerf6s58iul5vlmle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984773289125-3icc35hcn884s14gerf6s58iul5vlmle</string>
	<key>API_KEY</key>
	<string>AIzaSyAVex9rNpSdSt9BfIPQiKdgBhHUGUdaILQ</string>
	<key>GCM_SENDER_ID</key>
	<string>984773289125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage23april</string>
	<key>PROJECT_ID</key>
	<string>arctic-cocoa-283507</string>
	<key>STORAGE_BUCKET</key>
	<string>arctic-cocoa-283507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984773289125:ios:f8c849ce347babffc4194c</string>
</dict>
</plist>